@blue: rgba(0, 60, 255, 0.623);

@font-face {
  font-family: 'Comics';
  src: url('../fonts/Comics.ttf') format('truetype');
}

@font-face {
  font-family: 'CS Nancy';
  src: url('../fonts/CS\ Nancy.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

#i4c-dialogs-container {
  display:none;
}

.transition {
  transition: 0.2s;
}

body {
  display:grid;
  grid-template-rows: 48px auto;
  min-height: 890px;
  height:100vh;
  font-family: Roboto;
  background: url(../img/pictures/pixel_art_8_bit_retro_games-1364327.png);
  background-size: auto 100%;
}

header {
  display: grid;
  grid-template-columns: 40px 1fr;
  box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.425);
  background: linear-gradient(to bottom, rgba(33, 189, 85, 0.692) 35%, rgba(245, 221, 7, 0.836) 50%);

  .menu {
    margin-left: 10px;
    background: url(../img/icons/nav-icon.svg);
  }

  h1 {
    margin-top: 9px;
    margin-left: 50px;
    font-family: CS Nancy, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 23px;
  }

}

main {
  display: flex;
  width: 100vw;
  height: 100%;
  padding-top: 10px;
  font-family: Comics;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.897);
}

.canvas-base {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 66%;
  height: calc(94vh - 10px);
  min-height: 800px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(13, 14, 13, 0.384);
}

.canvas-wrapper {
  position: relative;
  background: url(../img/canvas-bg/bg-1.png);
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.canvas-layer-1 {
  z-index: 4; 
}

.canvas-prev-frame {
  z-index: 5;
  opacity: 0.2;
}

.canvas-next-frame {
  z-index: 6;
  opacity: 0.2;
}

.canvas-layer-upper {
  position: absolute;
  z-index: 7;
}

.filters {
  align-self: center;
  margin-right: 10px;

  .greyscale {
    z-index: 3;
    width: 100px;
    margin-left: -10px;
    height: 30px;
    font-family: Comics;
    font-size: 17px;
    color: white;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background: linear-gradient(to right, black 25%, white 75%);
  }

  .greyscale:hover {
    box-shadow: 0 0 2px 3px;
  }

  .greyscale:active {
    outline: none !important;
    color: black;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 140px;
  height: 15px;
  background: rgba(121, 201, 75, 0.459);
  border-radius: 10px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #ee0909b7;
  border: 2px solid rgb(247, 247, 248);
  border-radius: 10px;
}

@import 'blocks/control-panel-left.less';
@import 'blocks/control-panel-right.less';
@import 'blocks/control-panel-frame.less';
@import 'blocks/aside-panel.less';