.active {
  filter: drop-shadow(0px 6px 0px red);
  transform: translateY(-6px);
  background-size: 32% !important;
  transition: 0.15s;
}



.control-panel-left {
  position: relative;
  z-index: 10;
  width: 228px;
  height: 727px;
  margin: 79px 10px 0 29px;
  background: linear-gradient(to bottom, rgba(255, 230, 0, 0.822) 13%, rgba(250, 192, 0, 0.836) 20%, rgba(245, 170, 7, 0.836) 40%, transparent, transparent, rgba(255, 0, 0, 0.719) 70%);

  .pixel-size-panel {
    position: absolute;
    top: -43px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 214px;
    padding: 7px;

    .activePixelSize {
      box-shadow: 0 0 0 2px black;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      background: rgba(255, 230, 0, 0.822);
      border-radius: 2px;
    }

    &__pixel {
      &-1 {
        background: #000;
        width: 10px;
        height: 10px;
      }

      &-2 {
        background: #000;
        width: 12px;
        height: 12px;
      }

      &-3 {
        background: #000;
        width: 14px;
        height: 14px;
      }

      &-4 {
        background: #000;
        width: 16px;
        height: 16px;
      }

      &-5 {
        background: #000;
        width: 18px;
        height: 18px;
      }

      &-6 {
        background: #000;
        width: 20px;
        height: 20px;
      }
    }
  }

  .upper-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    padding-top: 15px;
    box-shadow: 0 -3px 3px 0px rgba(45, 51, 49, 0.281);

    &__item {
      position: relative;
      height: 50px;

      &-1 {
        background: url(../img/icons/pencil_1.svg) no-repeat 50% 50% ;
      }

      &-2 {
        background: url(../img/icons/pencil_2.svg) no-repeat 50% 50%;
        background-size: 29%;
      }

      &-3 {
        background: url(../img/icons/bucket.svg) no-repeat 50% 50%;
      }

      &-4 {
        background: url(../img/icons/paint.svg) no-repeat 50% 50%;
      }

      &-5 {
        background: url(../img/icons/rubber.svg) no-repeat 50% 50%;
      }

      &-6 {
        background: url(../img/icons/edit_2.svg) no-repeat 50% 50%;
      }

      &-7 {
        background: url(../img/icons/square.svg) no-repeat 50% 50%;
      }

      &-8 {
        background: url(../img/icons/ring.svg) no-repeat 50% 50%;
      }

      &-9 {
        background: url(../img/icons/eyedropper.svg) no-repeat 50% 50%;
      }

      &-10 {
        background: url(../img/icons/move-arrows.svg) no-repeat 50% 50%;
      }

      &-11 {
        background: url(../img/icons/half-circle.svg) no-repeat 50% 50%;
      }

    }

    &__item:not(:nth-child(2)) {
      background-size: 27%;
    }
  }

  .lower-panel {
    width: 228px;
    margin-top: 200px;
    padding-bottom: 15px;
    box-shadow: 0 3px 3px 0px rgba(45, 51, 49, 0.281);

    .pickr {
      //display: none;  
    }

    .pcr-app.visible {
      position: absolute;
      //top: 50%;
    }

    .pcr-button {
      position: absolute;
      height: 0;
      width: 0;

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-left: 19px;
      height: 48px;
      width: 196px;
      margin-bottom: 5px;
      line-height: 48px;
      border: 2px solid white;
      border-radius: 5px 20px 20px 5px;

      .wrapper {
        width: 100%;
        border-radius: 10px;
      }

      .name-1 {
        background: red;
        background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
        background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
        background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
        background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-1 {
        margin-top: 50px;
        background: linear-gradient(to right, rgb(72, 255, 0) 14%, white 27%);
      }

      &-2 {
        margin-bottom: 15px;
        background: linear-gradient(to right, rgb(98, 0, 255) 14%, white 27%);
      }

      &-3 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 20px);
        grid-template-rows: repeat(auto-fill, 20px);
        grid-gap: 8px;
        width: 182px;
        height: 100px;
        padding: 7px;
        background: white;

        .color {
          justify-self: center;
          align-self: center;
          width: 20px;
          height: 20px;
          border: 2px solid;
          border-radius: 50%;
          background: #000;
        }

        .color:hover {
          transition: transform 0.15s;
          transform: scale(1.1);
          transform-origin: 50%;
          border: 2px solid white;
          box-shadow: 0 0 1px 2px black;
        }

        .color:active {
          transform: scale(0.9);
          transform-origin: 50%;
          //border: 2px solid white;
          box-shadow: 0 0 0 2px black;
        }
      }

      span {
        margin-left: 40px;
      }
    }
  }
}