.control-panel-right {
  width: 200px;
}
.control-panel-right .animation-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}
.control-panel-right .animation-wrapper__monitor-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.control-panel-right .animation-wrapper__control-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.control-panel-right .animation-wrapper__fps-monitor {
  height: 15px;
  margin-right: 5px;
  text-align: right;
}
.control-panel-right .layers-panel {
  height: 200px;
}
.control-panel-right .layers-panel__control .button-add-layer {
  width: 100px;
  height: 20px;
}
.control-panel-right .canvas-size-wrapper {
  display: flex;
  justify-content: space-between;
}
.control-panel-right .canvas-size-wrapper input {
  width: 60px;
  text-align: center;
}
